---
layout: default
---

<div class="posts">
  <h1>echothrust howtos</h1>
  <p>A list of howtos based on internal research that we open in hopes public contributions will help to keep them up to date.</p>
  <p>The documentation in these files is based on a lot of OpenBSD misc mailing list.</p>
  <p>Some parts of the documents may be copied "verbatim" from the original mail @misc. We tried to keep our references but there may be some that missing.</p>
  <p>Feel free to let us know and we will correct where such cases exists.</p>

  <article class="post">
    <h2>General Posts</h2>
    <ul>
      {% assign pages = site.pages | where_exp: 'page', 'page.title' %}
      {% for post in pages %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}...</a></li>
      {% endfor %}
    </ul>
  </article>

  <article class="post">
    {% assign collections = site.collections | where_exp: 'collection', 'collection.label != "posts" ' %}
    {% for collection in collections %}
    <h2>{{collection.label|capitalize}}</h2>
    <ul>
      {% for post in site[collection.label] %}
      <li> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endfor %}
  </article>

</div>